* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

.top-nav {
  overflow: hidden;
  height: 3rem;
  background: red;
}

main {
  overflow: auto;
  flex: 1 0;
  background: lightgrey;
}

header {
  overflow: hidden;
  position: relative;
  height: calc(50vh - 5rem);
  max-width: 100%;
  background: url("http://lorempixel.com/c/1000/1000/nature")
    no-repeat center center;
  color: white;
}

.hero {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.left-column {
  display: inline-block;
  width: 60%;
  margin: 0 5px;
  padding: 10px 0 0px 10px;
}
.sidebar {
  display: inline-block;
  width: 30%;
  margin: 0 5px;
  padding: 10px 10px 0px 0px;
}

.container .four-up {
  /*float: left;*/
  display: inline-block;
  width: 200px;
}

article img {
  background: url("http://lorempixel.com/q/c/150/150/people")
    no-repeat center center;
}

}
.container h1 {
  text-align: center;
}
.container .h4 {
  font-size: .5rem;
  text-align: center;
}

.site-info p {
  overflow: auto;
  float: left;
  position: static;
  padding: 2rem;
  background: orange;
  color: white;
}

.footer-nav {
  overflow: auto;
  display: inline-block;
  position: static;
  top: 100%;
  width: auto;
  text-decoration: none;
  background: orange;
  color: white

}
