* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: rgba(245, 246, 239, 0.01);

}
/* Top Navigation */
.top-nav {
  overflow: hidden;
  height: 3rem;
  background: red;
}
/* Main */
main {
  overflow: auto;
  /*flex: 1 0;*/
  background: lightgrey;
}

header {
  overflow: hidden;
  position: relative;
  height: calc(50vh - 5rem);
  max-width: 100%;
  background: url("http://lorempixel.com/c/1000/1000/nature")
    no-repeat center center;
  background-size: cover;
  /*color: white;*/
}

.hero {
  position: absolute;
  width: 100%;
  bottom: 30%;
  text-align: center;
}
/* Middle Content */
.left-column {
  display: inline-block;
  width: 60%;
  margin: 0 5px;
  padding: 10px 0 0px 10px;
  background: purple;
}
.sidebar {
  display: inline-block;
  width: 30%;
  margin: 0 5px;
  padding: 10px 10px 0px 0px;
  background: blue;
}

/* Container Content */
.container {
  background: red;
}

/* Footer */
footer {
  display: block;
  position: sticky;
  top: 100%;
  background: orange
}
